SUBNET=10.0.4.0
CIDR=24
GATEWAY=10.0.4.1
PARENT_INTERFACE=eth0
NETWORK_NAME=pxe
CONTAINER_NAME=pxe
TZ=Europe/Berlin
DHCP_NETMASK=255.255.255.0
DHCP_RANGE_START=10.0.4.100
DHCP_RANGE_END=10.0.4.200
DHCP_BROADCAST_ADDRESS=10.0.4.255
IP=10.0.4.254
PXE_CLIENT_1=client1,BC:24:11:DA:A2:7E,10.0.4.11
PXE_CLIENT_2=client2,BC:24:11:D4:D5:18,10.0.4.12
PXE_CLIENT_3=client3,BC:24:11:DA:A2:7E,10.0.4.13
PXE_CLIENT_4=client4,BC:24:11:1C:9D:88,10.0.4.14
ROOT_PASSWORD=password
PORT=5000
APPEND_OPTIONS="console=tty1 console=ttyS0,115200n8"
